body {
    color: #63767A;
    background-color: #CAD9D6;
    font-size: 18pt;
    margin: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
/*CSS classes*/
.error{
    color: darkred;
    font-weight: bold;
}

/*CSS IDs */
h1 {
    color: #2F3C45;
    font-weight: bold;
    font-size: 3rem;
    margin: 10px;
    text-align: center;
}

img{
    border: 2px #63767A solid;
    padding: 10px;
    margin: 10px;
}

/* unvisited link */
a:link{
    color:#63767A
}

/* visited link */
a:visited{
    color: #C28B7C;
}

/* mouse over link */
a:hover{
    color: #EBDCD9;
    background-color: #2F3C45;
}

table{
   font-size: medium;
   width: 100%;
   margin: 10px;
   border:5px #2F3C45 solid;
   padding: 10px;
   text-align: center;
   background-color: #EBDCD9;
}

th, td{
    border: 1px #2F3C45 solid;
}

footer {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.color {
    color: #C28B7C;
}